#{extends 'fitness-template.html' /}
#{set title:'How To Lose Weight in 2 Weeks' /}
#{set moreStyles:"    
      
      #mainContentDiv h5{
        margin-left: 3%;
	    text-decoration: underline;
      }
      
      #mainContentDiv #textContentDiv{
        width: 100%;        
        margin-left: 2%;
        margin-right: 2%;
        font-size: 0.9em;        
      }
      
      #textContentDiv  #text{
       width: 70%;
       border: solid 1px;
       float: left;
      }
      
      #textContentDiv #image{
      	margin-left: 2%;
      	width: 25%;
      	border: solid 1px;
      	float: left;
      }
      
      #image img{
       width: 50%;
       height: 50%;
      }
      
      hr#separation{
      width: 94%;
      height:0.25%;
      margin-left: 3%;
      background-color: #999;
      }
      
	div textarea{
	width: 60%;
	}

	.form-horizontal{
	margin-left: -27%;
	display: solid;	
	}           

	span.media-heading{
	font-size: 0.85em;
	font-weight: bold;
	display: block;
	}
	
	span.userid{
	font-size: 0.8em;
	display: block;
	}
	
	div#divRank{
	margin: 2% 0% 0% 3%;	
	}
	
	span#spanRank{
	display: inline;
	font-size:0.9em;
	text-decoration: underline;
	font-weight:bold;
	}

	.media-body p{
	font-size: 0.75em;
	}

	div.media{
	margin-left: 5%;
	}
	
"/}
#{set articles:"current" /}
#{set banner:"/public/images/banner_articles.png" /}
<div>
		<div class="navbar" id="contentnav">
		  <div class="navbar-inner" >
			<a class="brand" href="/Articles/articles.html">Articles</a>
			<ul class="nav">
			  <li><a href="/Articles/articles_beginner.html">Beginner</a></li>
			  <li><a href="/Articles/articles_intermediate.html">Intermediate</a></li>
			  <li><a href="/Articles/articles_expert.html">Expert</a></li>
			</ul>
		  </div>
		</div>
		</div>		
      <div id="breadCrumbsDiv">	  
	  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/Articles/articles.html">Articles</a> <span class="divider">/</span></li>
		</ul>
	  </div>
	<div id="content">
        <h3>${article.title}</h3>
		<div id="textContentDiv">		
			<div id="text">${article.content}</div>
			<div id="image"><img src="" /></div>
			<br clear="all" />
		</div>		
		<div id="divRank">
		<span id="spanRank">Rank:</span><span> ${article.rank}</span>	
		#{if signedUser}
			#{if haveVoted==-1} 
					&nbsp;&nbsp;&nbsp;
					<a href = "@{Articles.rankUp(article.id)}" class="btn btn-mini" title="Increase Rank"><i class="icon-plus"></i>Rank up</a>
					&nbsp;&nbsp;&nbsp;
					<span class="btn btn-mini" title="Cannot decrease rank"><i class="icon-minus"></i>Rank down</span>
					
				#{/if}
				#{elseif haveVoted==1}
					&nbsp;&nbsp;&nbsp;
					<a href = "#" class="btn btn-mini" title="Cannot increase rank"><i class="icon-plus"></i>Rank up</a>
					&nbsp;&nbsp;&nbsp;
					<a href = "@{Articles.rankDown(article.id)}" class="btn btn-mini" title="Decrease Rank"><i class="icon-minus"></i>Rank down</a>
				#{/elseif}
	   			#{else}
					&nbsp;&nbsp;&nbsp;
					<a href = "@{Articles.rankUp(article.id)}" class="btn btn-mini" title="Increase Rank"><i class="icon-plus"></i>Rank up</a>
					&nbsp;&nbsp;&nbsp;
					<a href = "@{Articles.rankDown(article.id)}" class="btn btn-mini" title="Decrease Rank"><i class="icon-minus"></i>Rank down</a>
	   			#{/else}
			
	    #{/if}
	    </div>        
     <h5>Comments</h5> 
       #{list article.comments, as:'comment'}
		<div class="media">
		   <div class="media-body">
			<span class="media-heading">${comment.title}</span>
			<span class="userid">By: ${comment.user.firstName} ${comment.user.lastName}</span>
			<p>${comment.content}</p>
		   </div>
		</div>
		  #{/list}
			#{else}
    		<p id="noContent">No comments for now</p>
			#{/else}    
			<hr id="separation" />
	<form class="form-horizontal" id="frmComment" name="frmComment" action="@{ArticleComments.addComment(article.id)}">	 
	  <div class="control-group">
	    <div class="controls">
	      <input type="text" name="txtTitle" id="txtTitle" placeholder="Comment Title">
	      <input type="hidden" name="articleId" id="articleId" value=${article.id}>
	    </div>
	  </div>
	  <div class="control-group">    
	    <div class="controls">
	     <textarea rows="4" name="txtComment" id="txtComment" placeholder="Comment"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" id="btnComment" name="btnComment" class="btn">Add Comment</button>
	    </div>

	  </div>	  
	</form>             	        
	</div>
        
