/** This is for the general structure of our site **/

body{ 
background-color:#fff; 
font-family: "Arial"; 
} 

#logoDiv, #inspireQuotesDiv{
background-color:red;
}

/** contents of the left div **/ 

#leftDiv{ 
width: 20%; 
float: left; 
}

#leftNavDiv {
background-color:#fff;
height: 55%;
}

#leftNavDiv {
font-size:1.3em;	
}

#leftNavDiv ul li.current{ 
color: #fff;
background-color:#444; 
}

#logoDiv{ 
height: 25%; 
} 

#logoDiv img{
height: 100%;
width: 100%;
}

#leftDiv #ergoTips{
	width: 100%;
	height: 25%;
}
	
#leftDiv #ergoTips img{
	height:100%;
	width: 80%;
	margin: 5% 0 0 10%;
}

/** -------------------------- **/ 

/** contents of the centre div **/ 
#centreDiv{
width: 60%; 
float: left; 
} 

#tabs{
margin-top:10px;
}

#inspireQuotesDiv{ 
height: 25%; 
} 

#inspireQuotesDiv img{ 
height: 100%;
width: 100%;
}

#breadCrumbsDiv{  
height: 6%; 
}

#contentnav{
height:15%;
width:100%;
}

#mainContentDiv div#content{
overflow: auto;
height: 95%;
}

#mainContentDiv h3{
text-align:center;
font-weight:bold;
margin-top: 3%;
}

#mainContentDiv{ 
height: 70%; 
background-color: #fff; 
color: #000;
margin-top: 0%;
/*border: 1px solid #e3e3e3;
background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.53, rgb(240,240,240))
);*/
}

#noContent{
	margin-left: 2%;        
    font-size: 0.9em;
}
	
/** ----------------------- **/ 


/** contents of the right div **/ 
#rightDiv{ 
width: 20%; 
float: left; 
} 

#loginBMIDiv{ 
height: 24%; 
background-color:red; 
color:#fff;
height:100% 0;
font-family: "Arial";
}

#loginBMIDiv form #txtUsername{
 width: 80%;
 margin-top: 3%;
}

#loginBMIDiv form #txtPassword{
 width: 80%;
 margin-left: -2%;
}

#loginBMIDiv form #btnSubmit{
 width:40%;
 margin-left: 6%;
}

#loginBMIDiv form #forgotPwdLink{
 margin-left: 6%;
 font-size: 0.85em;
 color: #fff;
 display: block;
}

#loginBMIDiv form #loginStatusSpan{
 font-size: 0.8em;
 margin-left: 6%;
 margin-top: -0.7em;
 display: block;
 color: #000;
}

#loginBMIDiv form a.btn-inverse{
 width: 30%;
}

#loginBMIDiv form #passwordHelpLink{
margin-left:6%;
color:white;
}

#loginBMIDiv .table-condensed{
	color: #444;
	margin-top: -3%;
}

#loginBMIDiv .table-condensed caption{
	font-weight: bold;
	font-size: 0.9em;
}

#loginBMIDiv .table-condensed td{	
	font-size: 0.8em;
}

#loginBMIDiv .table-condensed td.info{
	font-weight: bold;
	font-size: 0.85em;
}

#loginBMIDiv p{
	color: #fff;
	margin-left: 2%;
}

#loginBMIDiv p{
	 font-weight: bold;	
}

#loginBMIDiv a#logout{
	display: block;
	margin: -10% 0 0 2%;
	color: #fff;
}

#workoutDiv{ 
height: 5%; 
background-color: #fff; 
padding-top: 7px; 
padding-left: 4px; 
background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.53, rgb(240,240,240))
);
} 

#searchDiv{ 
padding-top: 7px;
padding-left: 3px; 
height: 5%; 
background-color: #fff; 
font-size: 0.9em; 
background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(240,240,240) 53%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.53, rgb(240,240,240))
);
} 

#searchDiv form input{ 
width: 50%; 
} 

div .advertDiv{
height: 19%; 
margin-top: 1px; 
background-color: #fff;
background-repeat: no-repeat;
background-position: center;
}

div#advertDiv1 img{	
	width: 95%;
	height: 100%;
	margin-left: 3%;
}
div#advertDiv2{	
	width: 65%;
	margin: 5% 0 0 15%;	
}
div#advertDiv3{	
	width: 60%;
	margin-left: 15%;
}
div#advertDiv4{
	width: 80%;
	margin: 5% 0 0 5%;
}

/** ------------------------ **/


/** footer **/ 
#footerDiv{
font-size: 1em;
text-align: center;
color: #000;
padding-top: 0.5em;
}
/** ------------------------ **/

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/public/images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}
