#{extends 'fitness-template.html' /}
#{set title:'Workout plan' /}
#{set moreStyles:"

	#mainContentDiv h3{
	text-align: center;
	font-weight: bold;
	margin-top: 1px;
	}

  	.equipmentsLineDiv a img{
	border: solid 1px #000;
	float: left;
	height: 30%;
	width: 32%;
	}
	
	#content{
	 margin-top: 3%;
	}
	
" /}
#{set workoutPlan:"current" /}
#{set banner:"/public/images/banner_about.png" /}                
      <div id="breadCrumbsDiv">
	  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/workout_plan.html">Workout Plan</a> <span class="divider">/</span></li>
		</ul> 
	  </div>

	<script>


	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var id;
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			eventClick: function(calEvent, jsEvent, view) {
				evid = calEvent.id;
				alert(evid);
				
			    $("#cal_event").dialog({
			    	
	                title: calEvent.title,
	                buttons: {
	            	    'Delete': function() {
	            	    	
	            	    	window.location = "http://localhost:9000/workoutplan/removeworkoutplan?id=" + evid;	            	    	

	            	    		            	       
	            	       $(this).dialog('close');
	            	    },
	            	    'Edit': function() {	            	    
	            	    	window.location = "http://localhost:9000/workoutplan/editworkoutplan?id=" + evid;	            	    	
	            	    	
	            	       $(this).dialog('close');
	            	    }, 
	            	    'Cancel': function() {
		            	       $(this).dialog('close');
		            	    }
	            	  }
	            });$("#cal_event").HTML(calEvent.description);
				
				
			},
			editable: true,
			events: [
			  
			    ${strPlan}
			    
			    ]
		});
		
	});


</script>
<div id="content" >
	<div id="calendar"></div>
	<div id="cal_event"></div>
</div>
