#{extends 'fitness-template.html' /}
#{set title:'Workout plan' /}
#{set moreStyles:"

	#mainContentDiv h3{
	text-align: center;
	font-weight: bold;
	margin-top: 1px;
	}

  	.equipmentsLineDiv a img{
	border: solid 1px #000;
	float: left;
	height: 30%;
	width: 32%;
	}
	
	#content{
	 margin-top: 3%;
	}
	
" /}
#{set workoutPlan:"current" /}
#{set banner:"/public/images/banner_about.png" /}                
      <div id="breadCrumbsDiv">
	  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/workout_plan.html">Workout Plan</a> <span class="divider">/</span></li>
		</ul> 
	  </div>
	<script>
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			editable: true,
			events: [
			    {
			    	title: 'tryout',
			    	start: new Date(2013,6,9),
			    	end: new Date(2013,6,10),
			    	allDay: true
			    	
			    },
			    ${strPlan}
			    
			    ]
		});
		
	});
</script>
<div id="content" >
	<div id="calendar"></div>
</div>
