#{extends 'fitness-template.html' /} 
#{set title:'Exercises' /} 
#{set moreStyles:" 

#mainContentDiv h5{
        margin-left: 3%;
	    text-decoration: underline;
      }
      
      #mainContentDiv #textContentDiv{
        width: 100%;        
        margin-left: 2%;
        margin-right: 2%;
        font-size: 0.9em;         
      }
      
      #textContentDiv  #text{
       width: 70%;
       /*border: solid 1px;*/
       float: left;
      }
      
      #steps{
       width: 97%;
       margin-left: 1.5%;  
       margin-top: 3%;     
      }
      
      #textContentDiv #image{
      	margin-left: 2%;
      	width: 25%;
      	/*border: solid 1px;*/
      	float: left;
      }
      
      #image img{
       width: 50%;
       height: 50%;
      }
      
      hr#separation{
      width: 94%;
      height:0.25%;
      margin-left: 3%;
      background-color: #999;
      }
      
	div textarea{
	width: 60%;
	}

	.form-horizontal{
	margin-left: -27%;
	display: solid;	
	}           

	span.media-heading{
	font-size: 0.85em;
	font-weight: bold;
	display: block;
	}
	
	span.userid{
	font-size: 0.8em;
	display: block;
	}
	
	div#divRank{
	margin: 2% 0% 0% 3%;	
	}
	
	span#spanRank{
	display: inline;
	font-size:0.9em;
	text-decoration: underline;
	font-weight:bold;
	}

	.media-body p{
	font-size: 0.75em;
	}

	div.media{
	margin-left: 5%;
	}
	
	#equipmentDiv div{
	width:20%;
	margin-left: 3%;
	float: left;
	height: 20%;	
	border: solid 1px
	}
	
	#equipmentDiv div span{
	font-size: 0.7em;
	display: block;
	margin-left:15%;
	}
	
" /}
#{set exercises:"current" /}
#{set banner:"/public/images/banner_exercises.png" /}
<div>
		<div class="navbar" id="contentnav">
		  <div class="navbar-inner" >
			<a class="brand" href="/Exercises/exercises.html">Exercises</a>
			<ul class="nav">
			  <li><a href="/Exercises/exercises_beginner.html">Beginner</a></li>
			  <li><a href="/Exercises/exercises_intermediate.html">Intermediate</a></li>
			  <li><a href="/Exercises/exercises_expert.html">Expert</a></li>
			</ul>
		  </div>
		</div>
		</div>		
      <div id="breadCrumbsDiv">	  
	  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/Exercises/exercises.html">Exercises</a> <span class="divider">/</span></li>
		</ul>
	  </div>
	  	<div id="content">
        <h3>${exercise.title}</h3>
		<div id="textContentDiv">						
			<div id="text">${exercise.content}</div>
			<div id="image"><img src=${exercise.image} /></div>
			<br clear="all" />	
		</div>
		<hr id="separation" />
		<div id="equipmentDiv">
		#{list relEquip, as:'equip'}
					 
			<a src=${equip.URl}>
				<div><img src="${equip.image}" />
					<span>${equip.name}</span>
				</div>
			</a>
			
		#{/list} 
		#{else} No Equipments for now #{/else}
			<br clear="all" />
		</div>
		<hr id="separation" />				
		<div id="divRank">
		<span id="spanRank">Rank:</span><span> ${exercise.rank}</span>		
		#{if signedUser}
			&nbsp;&nbsp;&nbsp;
			<a href = "@{Exercises.rankUp(exercise.id)}" class="btn btn-mini" title="Increase Rank"><i class="icon-plus"></i>Rank up</a>
			&nbsp;&nbsp;&nbsp;
			<a href = "@{Exercises.rankDown(exercise.id)}" class="btn btn-mini" title="Decrease Rank"><i class="icon-minus"></i>Rank down</a>
			&nbsp;&nbsp;&nbsp;
			<a href="@{WorkoutPlan.addToWorkoutPlan(exercise.id)}" class="btn btn-mini">Add to Workout Plan</a>
	    #{/if}
	    </div>       
     <h5>Comments</h5> 
       #{list exercise.comments, as:'comment'}
		<div class="media">
		   <div class="media-body">
			<span class="media-heading">Comment Title</span>
			<span class="userid">By: ${comment.user.firstName} ${comment.user.lastName}</span>
			<p>${comment.content}</p>
		   </div>
		</div>
		  #{/list}
			#{else}
    		<p id="noContent">No comments for now</p>
			#{/else}    
			<hr id="separation" />
	<form class="form-horizontal" id="frmComment" name="frmComment" action="@{ExerciseComments.addComment(exercise.id)}">	 
	  <div class="control-group">
	    <div class="controls">
	      <input type="text" id="txtTitle" placeholder="Comment Title">
	    </div>
	  </div>
	  <div class="control-group">    
	    <div class="controls">
	     <textarea rows="4" placeholder="Comment"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" id="btnComment" name="btnComment" class="btn">Add Comment</button>
	    </div>
	  </div>	  
	</form>             	        
        </div>
	  